.live-pnl .container {
  padding: 1rem 0rem 2.4rem 0rem;
}

.link-icon-div {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.for-h3-mb h3 {
  margin-bottom: 0.6rem;
}

.strategies-color a {
  color: var(--color-day-black) !important;
  text-decoration: none !important;
}

.live-pnl-table {
  width: 100%;
  border: 0;
  background-color: var(--color-forecasts-card);
  margin-top: 2rem;
  padding: 0.8rem;
  border: 1px solid var(--color-grid-border);
  border-collapse: collapse;
}

.live-pnl-table-data {
  padding: 0.6rem 0.4rem;
  border: 1px solid var(--color-grid-border);
  border-collapse: collapse;
}

.live-pnl-table-head {
  padding: 0.6rem 0.5rem;
  border: 1px solid var(--color-grid-border);
  border-collapse: collapse;
}

.live-pnl-table-data p {
  margin-top: 0;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .live-pnl .container {
    padding: 0.2rem 0rem 0rem 0rem;
  }

  .live-pnl-table {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .link-icon-div {
    justify-content: center;
  }
}
