.for-mb-returns {
  margin-bottom: 1.8rem;
}

.inter-grad {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.inter-grad-sep {
  display: flex;
  align-items: center;
}

.inter-grad-sep p {
  margin-top: 0;
  font-weight: 500;
}

.ml-inter-grad {
  margin-left: 1.2rem;
}

.ml-inner-inter-grad {
  margin-left: 0.4rem;
}

.fw-inter-grad {
  font-weight: 400;
}

@media screen and (max-width: 568px) {
  .for-mb-returns {
    margin-bottom: 0.8rem;
    margin-top: 1.8rem;
  }

  .inter-grad {
    margin-top: 0.6rem;
  }
}
