.services-enterance-textbox h3 {
  text-align: center;
  width: 50%;
  line-height: 20px;
  margin-top: 1.2rem;
  margin-bottom: 1.8rem;
  font-weight: 500;
}

.service-enterance-logo {
  width: 28%;
}

.services-enterance-textbox input {
  border: none;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: scaleIn 6.5s ease-in;
}

.services-nav-menu {
  justify-content: flex-end;
}

.services-about-page .container {
  padding: 4rem 0;
}

.services-about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-about-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-about-head {
  width: 100%;
  padding: 1.2rem;
  background-color: var(--color-forecasts-card);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.sa-item-ml {
  margin: 0 0.8rem;
}

.services-about-description {
  width: 100%;
  height: 60vh;
  padding: 1.5rem;
  background-color: var(--color-day-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

.services-about-description p {
  text-align: center;
  line-height: 30px;
}

.serice-about-item-img img {
  width: 100%;
}

/* CONTACT PAGE */

.services-contact {
  background-image: url(../services-view/services-assets/contact-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
}

.services-contact .container {
  padding: 4rem 0;
}

.services-contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-contact-info {
  width: 100%;
}

.services-contact-info h2 {
  color: white;
}

.services-contact-info p {
  color: white;
}

.services-contact-form-div {
  width: 90%;
}

.services-contact-form h2 {
  color: white;
}

.services-contact-form p {
  color: white;
  margin-bottom: 1.4rem;
}

.services-contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2.5rem 5rem;
  border-radius: 8px;
}

.services-contact-group {
  display: flex;
  flex-direction: column;
}

.services-contact-group label {
  color: white;
  margin-bottom: 0.4rem;
  font-size: 12px;
}

.services-contact-group input {
  padding: 0.8rem;
  background-color: rgba(217, 217, 217, 0.4);
  border: none;
  border-radius: 8px;
  margin-bottom: 1.2rem;
}

.services-contact-group input:focus {
  outline: none;
}

.services-contact-group textarea {
  padding: 0.8rem;
  background-color: rgba(217, 217, 217, 0.4);
  border: none;
  border-radius: 8px;
}

.services-contact-group textarea:focus {
  outline: none;
}

@media screen and (max-width: 1024px) {
  .services-about-wrapper {
    align-items: unset;
  }

  .services-about-description {
    height: 100%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .services-about-wrapper {
    flex-direction: column;
  }

  .sa-item-ml {
    margin: 2.2rem 0;
  }

  .services-about-head {
    margin-bottom: 0.6rem;
  }

  .services-contact-wrapper {
    flex-direction: column;
  }

  .services-contact-form-div {
    width: 100%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 586px) {
  .services-about-page .container {
    padding: 2.2rem 0;
  }

  .sa-item-ml {
    margin: 1.6rem 0;
  }

  .services-contact {
    margin-top: -1.8rem;
  }

  .services-contact-form {
    padding: 2rem;
  }

  .services-enterance-textbox h3 {
    width: 100%;
  }

  .service-enterance-logo {
    width: 75%;
  }
}
